<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/index.css') }}">

        <!-- add manifest file for pwa to behave like a native app-->
        <link rel="manifest" href="/manifest.json">
        <!-- add service worker -->
        <script>
            if ('serviceWorker' in navigator) {

              window.addEventListener('load', function() {
                    // if sw connection is successful
                navigator.serviceWorker.register("/sw.js").then(function(registration) {
                  console.log('SW: Registration successful - scope: ', registration.scope);
                  // if sw connection unsuccessful
                }, function(err) {
                  console.log('SW: Registration failed - err', err);
                });
            });
            }
          </script>
        <title>Distraction Prevention App</title>
    </head>
    
    
    <body>
        <img src="static/icons/rocket.png" class="LoginLogo" alt="rocket app logo">
        <div class="Title">
            <h1>Distraction Prevention App</h1>
        </div> <!-- title -->

        <form action=" {{ url_for('verifyLogin') }}" method="POST">
        <div class="LoginLabels">
            <label for="username">Username:</label> 
            <br>
            <input style="color: black;" type="text" id="username" name="username">
            <br><br>
            <label for="password" style="padding-top: 15%">Password:</label>
            <br>
            <input style="color: black;" type="password" id="password" name="password">

        </div> <!-- login labels-->
    
    
        <input class="actionButton" type="submit" value="Login"/>
    </form>

   
    </body>
</html>
